
.title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 700;
  font-family: 'Brush Script MT';
  margin-bottom: 0;
  padding-top: 8rem;
  background: linear-gradient(#661121);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.paintBrushIcon {
  width: 75;
  height: 75px;
  color: maroon;
}
